@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Prompt&display=swap');
/* 
font-family: 'Merriweather', serif;
font-family: 'Prompt', sans-serif; 
*/
html , body ,#root {
    min-height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

.flrow {
    display: flex;
    flex-direction: row;
}
.flcol {
    display: flex;
    flex-direction: column;
}

.f1 {
    flex: 1;
}

.jcen {
    justify-content: center;
}
.acen {
    align-items: center;
}
.tcen {
    text-align: center;
}

.border {
    border: 2px solid red;
}
.curpoi {
    cursor: pointer;
}

.h100 {
    min-height: 100%;
}
.w100 {
    min-width: 100%;
}

.lntxt {
    text-decoration: none;
    font-family: 'Prompt', sans-serif; 
}